<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://i.imgur.com/ZZZXp1v.png"
    cardTitle="A project to consume Pokémon API using React."
    cardDescription="A Pokédex project i've created using PokeAPI and React.JS, based on YouTube video by Pasquadev."
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <div>
      <app-small-card
      Id="2"
        photoCover="https://i.imgur.com/LpAtmx8.png"
        cardTitle="A login page project using pure HTML and CSS to make a login page template project. " 
        cardLink="https://github.com/luizcarmoo/login_page"
      >
      </app-small-card>
    </div>
    <div>
      <app-small-card
      Id="3"
        photoCover="https://i.imgur.com/Kp6x0cC.png"
        cardTitle="A simple Snake game project using pure HTML,CSS and JS."
      >
      </app-small-card>
    </div>
    <div>
      <app-small-card
        Id="4"
        photoCover="https://i.imgur.com/daHckmC.png"
        cardTitle="Project to consume Pokemon API and create a dynamic layout of the device used by anime characters."
        cardLink="https://github.com/luizcarmoo/pokedex"
      >
      </app-small-card>
    </div>
  </div>
</div>
