<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://github.com/luizcarmoo/pokedex_react/raw/main/public/to_readme/Pokedex-by-Luiz-Carmo.gif?raw=true"
    cardTitle="A project to consume Pokémon API using React."
    cardDescription="Click here to visit my Github repository of Pokedex project i've created using PokeAPI and React.JS, based on YouTube video by Pasquadev."
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <div>
      <app-small-card
        photoCover="https://i.imgur.com/LpAtmx8.png"
        cardTitle="A login page project using pure HTML and CSS to make a login page template click here to go to project repository. " 
        cardLink="https://github.com/luizcarmoo/login_page"
      >
      </app-small-card>
    </div>
    <div>
      <app-small-card
        photoCover="https://i.imgur.com/Kp6x0cC.png"
        cardTitle="A Snake game project using pure HTML,CSS and JS click here to go to project repository."
        cardLink="https://github.com/luizcarmoo/snake-game"
      >
      </app-small-card>
    </div>
    <div>
      <app-small-card
        photoCover="https://i.imgur.com/daHckmC.png"
        cardTitle="Project to consume Pokemon API and create a dynamic layout of the device used by anime characters."
        cardLink="https://github.com/luizcarmoo/pokedex"
      >
      </app-small-card>
    </div>
  </div>
</div>
