.container__menu-bar {
  margin-top: 15px;
}

.container__menu-bar > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.container__menu-bar > ul > li {
  list-style: none;
}

.container__menu-bar > ul > li > a {
  text-decoration: none;
}

.container__menu-bar > ul > li:hover {
  scale: 1.1;
}
.container__menu-bar > ul > li > a:hover {
  color: aqua;
}